<!DOCTYPE html>

<html lang="en">
<head>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport"/>
<title>Jordan Harris</title>
<link href="{{ url_for('static', filename="static/img/JH-SIG.svg")}}" rel="icon" sizes="200x150" type="image/svg+xml"/>
<link href="{{ url_for('static', filename="static/img/JH-SIG.svg")}}" rel="icon" sizes="200x150" type="image/svg+xml"/>
<link href="{{ url_for('static', filename="static/img/JH-SIG.svg")}}" rel="icon" sizes="200x150" type="image/svg+xml"/>
<link href="{{ url_for('static', filename="static/img/JH-SIG.svg")}}" rel="icon" sizes="200x150" type="image/svg+xml"/>
<link href="{{ url_for('static', filename="static/img/JH-SIG.svg")}}" rel="icon" sizes="200x150" type="image/svg+xml"/>
<link href="{{ url_for('static', filename="bootstrap/css/bootstrap.min.css")}}" rel="stylesheet"/>
<link href="https://fonts.googleapis.com/css?family=Bakbak+One&amp;display=swap" rel="stylesheet"/>
<link href="https://fonts.googleapis.com/css?family=Bebas+Neue&amp;display=swap" rel="stylesheet"/>
<link href="https://fonts.googleapis.com/css?family=Kanit&amp;display=swap" rel="stylesheet"/>
<link href="https://fonts.googleapis.com/css?family=Oswald&amp;display=swap" rel="stylesheet"/>
<link href="https://fonts.googleapis.com/css?family=Roboto&amp;display=swap" rel="stylesheet"/>
<link href="https://fonts.googleapis.com/css?family=Roboto+Slab&amp;display=swap" rel="stylesheet"/>
<link href="https://fonts.googleapis.com/css?family=Titan+One&amp;display=swap" rel="stylesheet"/>
<link href="{{ url_for('static', filename="Navbar-Right-Links-icons.css")}}" rel="stylesheet"/>
<link href="{{ url_for('static', filename="css/Team-images.css")}}" rel="stylesheet"/>
</head>

{% block body %}

{% endblock %}
<script src="{{ url_for('static', filename="bootstrap/js/bootstrap.min.js")}}"/></script>

</html>
