{% extends 'base.html' %}

{% block body %}

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-red w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
  <div class="w3-container">
    <h3 class="w3-padding-64"><b>Jordan<br>Harris<br><h6>Msc BSc Hons</h6></b></h3>
  </div>
  <div class="w3-bar-block">
    <a href="#about_me" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">About Me</a>
    <a href="#education" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Education</a>
    <a href="#employment" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Employment</a>
    <a href="#portfolio" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Portfolio</a>
    <a href="#contact_me" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Contact Me</a>
  </div>
</nav>

<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-hide-large w3-red w3-xlarge w3-padding">
  <a href="javascript:void(0)" class="w3-button w3-red w3-margin-right" onclick="w3_open()">☰</a>
  <span>Jordan Harris</span>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">


  <!-- About_Me -->
  <div class="w3-container" id="about_me" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><b>About me.</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <h3>My Contacts</h3>
    {% for myinfo in myinfo %}
    <p>{{myinfo.phone}}</p>
    <p>{{myinfo.email}}</p>
    <p>{{myinfo.linkedin}}</p>

    {% endfor %}


  </div>

    <!-- Education -->
  <div class="w3-container" id="education" style="margin-top:75px">
      <h1 class="w3-xxxlarge w3-text-red"><b>Education.</b></h1>
      <hr style="width:50px;border:5px solid red" class="w3-round">
      <p>We are a interior design service that focus on what's best for your home and what's best for you!</p>
      {% for education in education %}
      <div class="w3-row-padding w3-grayscale">
        <div class="w3-col m4 w3-margin-bottom">
          <div class="w3-light-grey">
            <div class="w3-container">
              <h3>{{education.course}}</h3>
              <p class="w3-opacity">{{education.school}}</p>

            </div>
          </div>
        </div>
  </div>
  {% endfor %}



    <!-- Portfolio -->
    <div class="w3-container" id="portfolio" style="margin-top:75px">
      <h1 class="w3-xxxlarge w3-text-red"><b>Portfolio.</b></h1>
      <hr style="width:50px;border:5px solid red" class="w3-round">
      <p>We are a interior design service that focus on what's best for your home and what's best for you!</p>
    </div>
  <!-- The Team -->
  <div class="w3-row-padding w3-grayscale">
    <div class="w3-col m4 w3-margin-bottom">
      <div class="w3-light-grey">
        <img src="/w3images/team2.jpg" alt="John" style="width:100%">
        <div class="w3-container">
          <h3>John Doe</h3>
          <p class="w3-opacity">CEO & Founder</p>
          <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
        </div>
      </div>
    </div>
    <div class="w3-col m4 w3-margin-bottom">
      <div class="w3-light-grey">
        <img src="/w3images/team1.jpg" alt="Jane" style="width:100%">
        <div class="w3-container">
          <h3>Jane Doe</h3>
          <p class="w3-opacity">Designer</p>
          <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
        </div>
      </div>
    </div>
    <div class="w3-col m4 w3-margin-bottom">
      <div class="w3-light-grey">
        <img src="/w3images/team3.jpg" alt="Mike" style="width:100%">
        <div class="w3-container">
          <h3>Mike Ross</h3>
          <p class="w3-opacity">Architect</p>
          <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Contact -->
  <div class="w3-container" id="contact" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Contact.</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <p>Do you want us to style your home? Fill out the form and fill me in with the details :) We love meeting new people!</p>
    <form action="/action_page.php" target="_blank">
      <div class="w3-section">
        <label>Name</label>
        <input class="w3-input w3-border" type="text" name="Name" required>
      </div>
      <div class="w3-section">
        <label>Email</label>
        <input class="w3-input w3-border" type="text" name="Email" required>
      </div>
      <div class="w3-section">
        <label>Message</label>
        <input class="w3-input w3-border" type="text" name="Message" required>
      </div>
      <button type="submit" class="w3-button w3-block w3-padding-large w3-red w3-margin-bottom">Send Message</button>
    </form>
  </div>

<!-- End page content -->
</div>

{% endblock %}
