<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Jordan Harris</title>
    <link rel="icon" type="image/svg+xml" sizes="200x150" href="assets/img/JH-SIG.svg">
    <link rel="icon" type="image/svg+xml" sizes="200x150" href="assets/img/JH-SIG.svg">
    <link rel="icon" type="image/svg+xml" sizes="200x150" href="assets/img/JH-SIG.svg">
    <link rel="icon" type="image/svg+xml" sizes="200x150" href="assets/img/JH-SIG.svg">
    <link rel="icon" type="image/svg+xml" sizes="200x150" href="assets/img/JH-SIG.svg">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bakbak+One&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bebas+Neue&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titan+One&amp;display=swap">
    <link rel="stylesheet" href="assets/css/Lightbox-Gallery-baguetteBox.min.css">
    <link rel="stylesheet" href="assets/css/Navbar-Right-Links-icons.css">
    <link rel="stylesheet" href="assets/css/Team-images.css">
</head>

<body style="--bs-light: #f4dbaa;--bs-light-rgb: 244,219,170;--bs-body-color: #212529;--bs-body-bg: #eeeeee;font-family: 'Roboto Slab', serif;min-height: 100vh;height: auto;border: 20px solid rgb(255,255,255);">
    <!-- Start: Navbar Right Links -->
    <nav class="navbar navbar-light navbar-expand-md sticky-top bg-light d-flex flex-row" style="--bs-light: #eeeeee;--bs-light-rgb: 238,238,238;">
        <div class="container"><a class="navbar-brand d-flex align-items-center" href="#"><img src="assets/img/JH-SIG.svg" width="10sw" style="height: 80px;width: auto;"></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-2"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-2">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link active" href="index.html">ABOUT</a></li>
                    <li class="nav-item"><a class="nav-link" href="projects.html">PROJECTS</a></li>
                    <li class="nav-item"><a class="nav-link" href="https://drive.google.com/file/d/16wTb5UZfE0j9dSoWJzltBXut8MTIIwiE/view?usp=share_link" download="jordan_harris_cv" target="_blank">DOWNLOAD CV</a></li>
                    <li class="nav-item"></li>
                </ul>
            </div>
        </div>
    </nav><!-- End: Navbar Right Links -->
    <!-- Start: 2 Rows 1+4 Columns -->
    <div class="container">
        <div class="row">
            <div class="col-md-12"><span class="fs-2">My Projects</span></div>
        </div>
    </div><!-- End: 2 Rows 1+4 Columns -->
    <hr style="margin-top: 30px;margin-bottom: 30px;">
    <ul class="nav nav-tabs">
        <li class="nav-item"><a class="nav-link active" href="#">show all</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Architecture&nbsp;</a></li>
        <li class="nav-item"><a class="nav-link" href="#">data science&nbsp;</a></li>
        <li class="nav-item"><a class="nav-link" href="#">web development</a></li>
    </ul>
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-4 row-cols-xxl-4">
            <div class="col">
                <ul class="list-group"></ul>
                <div class="border rounded-0 border-1 border-dark shadow" style="font-size: 14px;padding: 8px;"><img src="assets/img/projects/Team_Energy_Logo.png" style="width: 100%;margin-top: 20px;border-radius: 30px;" loading="auto">
                    <h6 class="text-capitalize" style="margin: 0px;margin-top: 10px;margin-bottom: 10px;"><span style="color: rgba(0, 0, 0, 0.9);">Energy.app</span></h6>
                    <p>A Machine learning tool to predict household energy use based on demographics.</p>
                    <div></div>
                    <div style="font-size: 14px;">
                        <div style="font-size: 14px;"><button class="btn btn-primary link-primary d-md-flex justify-content-md-start" type="button" data-bs-target="#hale_off" data-bs-toggle="offcanvas" style="width: 100%;background: rgba(0,0,0,0);border-radius: 0px;padding: 0px;border-style: hidden;font-size: 14px;">See More&nbsp;</button></div>
                    </div>
                    <div></div>
                </div>
            </div>
            <div class="col">
                <ul class="list-group"></ul>
                <div class="border rounded-0 border-1 border-dark shadow" style="font-size: 14px;padding: 8px;"><img src="assets/img/Subject.png" style="width: 100%;margin-top: 20px;border-radius: 30px;" loading="auto">
                    <h6 class="text-capitalize" style="margin: 0px;margin-top: 10px;margin-bottom: 10px;"><span style="color: rgba(0, 0, 0, 0.9);">jordanlharris.com</span></h6>
                    <p>my Personal website to show my skillset and experience&nbsp;</p>
                    <div></div>
                    <div style="font-size: 14px;">
                        <div style="font-size: 14px;"><button class="btn btn-primary link-primary d-md-flex justify-content-md-start" type="button" data-bs-target="#hale_off" data-bs-toggle="offcanvas" style="width: 100%;background: rgba(0,0,0,0);border-radius: 0px;padding: 0px;border-style: hidden;font-size: 14px;">See More&nbsp;</button></div>
                    </div>
                    <div></div>
                </div>
            </div>
            <div class="col">
                <ul class="list-group"></ul>
                <div class="border rounded-0 border-1 border-dark shadow" style="font-size: 14px;padding: 8px;"><img src="assets/img/Subject.png" style="width: 100%;margin-top: 20px;border-radius: 30px;" loading="auto">
                    <h6 class="text-capitalize" style="margin: 0px;margin-top: 10px;margin-bottom: 10px;"><span style="color: rgba(0, 0, 0, 0.9);">Kent School of Medicine&nbsp;&nbsp;</span></h6>
                    <p>Kents first medical school&nbsp;</p>
                    <div></div>
                    <div style="font-size: 14px;">
                        <div style="font-size: 14px;"><button class="btn btn-primary link-primary d-md-flex justify-content-md-start" type="button" data-bs-target="#hale_off" data-bs-toggle="offcanvas" style="width: 100%;background: rgba(0,0,0,0);border-radius: 0px;padding: 0px;border-style: hidden;font-size: 14px;">See More&nbsp;</button></div>
                    </div>
                    <div></div>
                </div>
            </div>
            <div class="col">
                <ul class="list-group"></ul>
                <div class="border rounded-0 border-1 border-dark shadow" style="font-size: 14px;padding: 8px;"><img src="assets/img/Subject.png" style="width: 100%;margin-top: 20px;border-radius: 30px;" loading="auto">
                    <h6 class="text-capitalize" style="margin: 0px;margin-top: 10px;margin-bottom: 10px;"><span style="color: rgba(0, 0, 0, 0.9);">The Pangolin Project&nbsp;</span></h6>
                    <p>Kents first medical school&nbsp;</p>
                    <div></div>
                    <div style="font-size: 14px;">
                        <div style="font-size: 14px;"><button class="btn btn-primary link-primary d-md-flex justify-content-md-start" type="button" data-bs-target="#hale_off" data-bs-toggle="offcanvas" style="width: 100%;background: rgba(0,0,0,0);border-radius: 0px;padding: 0px;border-style: hidden;font-size: 14px;">See More&nbsp;</button></div>
                    </div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
    <hr style="margin-top: 30px;"><!-- Start: Footer Clean -->
    <footer class="text-center d-lg-flex py-4 bottom-0" position="absolute" style="position: relative;">
        <div class="container">
            <div class="row row-cols-1 row-cols-lg-3">
                <div class="col">
                    <p class="text-muted d-xl-flex justify-content-xl-start my-2">Made with&nbsp;❤️ love by Jordan</p>
                </div>
            </div>
        </div>
    </footer><!-- End: Footer Clean -->
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/Lightbox-Gallery-baguetteBox.min.js"></script>
    <script src="assets/js/Lightbox-Gallery.js"></script>
</body>

</html>