{% extends 'base.html' %}

{% block body %}

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-red w3-collapse w3-top w3-large w3-padding" id="mySidebar" style="z-index:3;width:300px;font-weight:bold;"><br/>
<a class="w3-button w3-hide-large w3-display-topleft" href="{{ url_for('{{ url_for('javascript:void(0)') }}') }}" onclick="w3_close()" style="width:100%;font-size:22px">Close Menu</a>
<div class="w3-container">
<h3 class="w3-padding-64"><b>Jordan<br/>Harris<br/><h6>Msc BSc Hons</h6></b></h3>
</div>
<div class="w3-bar-block">
<a class="w3-bar-item w3-button w3-hover-white" href="{{ url_for('{{ url_for('#about_me') }}') }}" onclick="w3_close()">About Me</a>
<a class="w3-bar-item w3-button w3-hover-white" href="{{ url_for('{{ url_for('#education') }}') }}" onclick="w3_close()">Education</a>
<a class="w3-bar-item w3-button w3-hover-white" href="{{ url_for('{{ url_for('#employment') }}') }}" onclick="w3_close()">Employment</a>
<a class="w3-bar-item w3-button w3-hover-white" href="{{ url_for('{{ url_for('#portfolio') }}') }}" onclick="w3_close()">Portfolio</a>
<a class="w3-bar-item w3-button w3-hover-white" href="{{ url_for('{{ url_for('#contact_me') }}') }}" onclick="w3_close()">Contact Me</a>
</div>
</nav>
<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-hide-large w3-red w3-xlarge w3-padding">
<a class="w3-button w3-red w3-margin-right" href="{{ url_for('{{ url_for('javascript:void(0)') }}') }}" onclick="w3_open()">☰</a>
<span>Jordan Harris</span>
</header>
<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" id="myOverlay" onclick="w3_close()" style="cursor:pointer" title="close side menu"></div>
<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">
<!-- About_Me -->
<div class="w3-container" id="about_me" style="margin-top:75px">
<h1 class="w3-xxxlarge w3-text-red"><b>About me.</b></h1>
<hr class="w3-round" style="width:50px;border:5px solid red"/>
<h3>My Contacts</h3>
    {% for myinfo in myinfo %}
    <p>{{myinfo.phone}}</p>
<p>{{myinfo.email}}</p>
<p>{{myinfo.linkedin}}</p>

    {% endfor %}


  </div>
<!-- Education -->
<div class="w3-container" id="education" style="margin-top:75px">
<h1 class="w3-xxxlarge w3-text-red"><b>Education.</b></h1>
<hr class="w3-round" style="width:50px;border:5px solid red"/>
<p>We are a interior design service that focus on what's best for your home and what's best for you!</p>
      {% for education in education %}
      <div class="w3-row-padding w3-grayscale">
<div class="w3-col m4 w3-margin-bottom">
<div class="w3-light-grey">
<div class="w3-container">
<h3>{{education.course}}</h3>
<p class="w3-opacity">{{education.school}}</p>
</div>
</div>
</div>
</div>
  {% endfor %}



    <!-- Portfolio -->
<div class="w3-container" id="portfolio" style="margin-top:75px">
<h1 class="w3-xxxlarge w3-text-red"><b>Portfolio.</b></h1>
<hr class="w3-round" style="width:50px;border:5px solid red"/>
<p>We are a interior design service that focus on what's best for your home and what's best for you!</p>
</div>
<!-- The Team -->
<div class="w3-row-padding w3-grayscale">
<div class="w3-col m4 w3-margin-bottom">
<div class="w3-light-grey">
<img alt="John" src="{{ url_for('{{ url_for('/w3images/team2.jpg') }}') }}" style="width:100%"/>
<div class="w3-container">
<h3>John Doe</h3>
<p class="w3-opacity">CEO &amp; Founder</p>
<p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
</div>
</div>
</div>
<div class="w3-col m4 w3-margin-bottom">
<div class="w3-light-grey">
<img alt="Jane" src="{{ url_for('{{ url_for('/w3images/team1.jpg') }}') }}" style="width:100%"/>
<div class="w3-container">
<h3>Jane Doe</h3>
<p class="w3-opacity">Designer</p>
<p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
</div>
</div>
</div>
<div class="w3-col m4 w3-margin-bottom">
<div class="w3-light-grey">
<img alt="Mike" src="{{ url_for('{{ url_for('/w3images/team3.jpg') }}') }}" style="width:100%"/>
<div class="w3-container">
<h3>Mike Ross</h3>
<p class="w3-opacity">Architect</p>
<p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
</div>
</div>
</div>
</div>
<!-- Contact -->
<div class="w3-container" id="contact" style="margin-top:75px">
<h1 class="w3-xxxlarge w3-text-red"><b>Contact.</b></h1>
<hr class="w3-round" style="width:50px;border:5px solid red"/>
<p>Do you want us to style your home? Fill out the form and fill me in with the details :) We love meeting new people!</p>
<form action="/action_page.php" target="_blank">
<div class="w3-section">
<label>Name</label>
<input class="w3-input w3-border" name="Name" required="" type="text"/>
</div>
<div class="w3-section">
<label>Email</label>
<input class="w3-input w3-border" name="Email" required="" type="text"/>
</div>
<div class="w3-section">
<label>Message</label>
<input class="w3-input w3-border" name="Message" required="" type="text"/>
</div>
<button class="w3-button w3-block w3-padding-large w3-red w3-margin-bottom" type="submit">Send Message</button>
</form>
</div>
<!-- End page content -->
</div>

{% endblock %}
</div>