{% extends 'admin/base.html' %}

{% block access_control %}
{% if current_user.is_authenticated %}
<div class="dropdown show">
<a aria-expanded="false" aria-haspopup="true" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" href="{{ url_for('{{ url_for('#') }}') }}" id="dropdownMenuLink" role="button">
<i class="icon-user"></i> {{ current_user.login }} <span class="caret"></span>
</a>
<div aria-labelledby="dropdownMenuLink" class="dropdown-menu">
<a class="btn" href="{{ url_for('{{ url_for('{{ url_for('admin.logout_view') }}') }}') }}">Log out</a>
</div>
</div>
{% endif %}
{% endblock %}
