<!DOCTYPE html>

<html lang="en">
<head>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport"/>
<title>Porfolio Design Colour Cards</title>
<link href="{{ url_for('static', filename='/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet"/>
<link href="{{ url_for('static', filename='css/Poppins.css')}}" rel="stylesheet"/>
<link fontawesome-all.min.css")}}"="" fonts="" href="{{ url_for('static', filename=" rel="stylesheet"/>
<link contact-details-icons.css")}}"="" css="" href="{{ url_for('static', filename=" rel="stylesheet"/>
<link css="" href="{{ url_for('static', filename=" projects-grid-images.css")}}"="" rel="stylesheet"/>
<link css="" href="{{ url_for('static', filename=" rel="stylesheet" styles.css")}}"=""/>
</head>
<body>
{% block body %}


{% endblock %}
</body>
</html>
